 apiVersion: apps/v1
 kind: Deployment
 metadata:
   name: app-one
   labels:
     app: app-one
 spec:
   replicas: 1
   selector:
     matchLabels:
       app: app-one
   template:
     metadata:
       labels:
         app: app-one
     spec:
       containers:
         - name: app-one
           image: nginx:1.25
           ports:
             - containerPort: 80
